[Unit]
Description=Molehill Service (%i)
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

# with root
ExecStart=/usr/bin/molehill /etc/molehill/%i.toml
# without root
# ExecStart=%h/.local/bin/molehill %h/.local/etc/molehill/%i.toml

[Install]
WantedBy=multi-user.target
