[Unit]
Description=Molehill Server Service
After=network.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
LimitNOFILE=1048576

# with root
ExecStart=/usr/bin/molehill -s /etc/molehill/molehill.toml
# without root
# ExecStart=%h/.local/bin/molehill -s %h/.local/etc/molehill/molehill.toml

[Install]
WantedBy=multi-user.target
